In [3]:
import pandas as pd

In [4]:
basic_stats = pd.read_csv('/Volumes/TOSHIBA EXT TIMOTHY DELILLE/GitHub/fantasy-nba/data/basic_stats.csv', nrows=1000)

In [5]:
basic_stats

,ast,blk,drb,fg,fg3,fg3_pct,fg3a,fg_pct,fga,ft,...,player_id,plus_minus,pts,reason,scope,stl,team,tov,trb,type
0,3.0,0.0,2.0,5.0,2.0,0.5,4.0,0.313,16.0,4.0,...,allenra02,4.0,16.0,NaN,game,3.0,BOS,3.0,2.0,Starter
1,1.0,1.0,10.0,6.0,2.0,0.4,5.0,0.462,13.0,9.0,...,piercpa01,1.0,23.0,NaN,game,1.0,BOS,2.0,11.0,Starter
2,10.0,0.0,4.0,4.0,0.0,NaN,0.0,0.500,8.0,0.0,...,rondora01,-3.0,8.0,NaN,game,3.0,BOS,2.0,6.0,Starter
3,1.0,3.0,7.0,5.0,0.0,NaN,0.0,0.500,10.0,3.0,...,garneke01,-4.0,13.0,NaN,game,1.0,BOS,1.0,10.0,Starter
4,1.0,1.0,1.0,4.0,0.0,NaN,0.0,0.571,7.0,1.0,...,perkike01,-2.0,9.0,NaN,game,0.0,BOS,3.0,1.0,Starter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,1.0,0.0,NaN,0.0,1.000,1.0,0.0,...,ilgauzy01,-8.0,2.0,NaN,h2,0.0,CLE,1.0,1.0,Reserve
996,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,...,hicksjj01,-2.0,0.0,NaN,h2,0.0,CLE,0.0,0.0,Reserve
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,willija04,NaN,NaN,Did Not Play,h2,NaN,CLE,NaN,NaN,Reserve
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,karlco01,NaN,NaN,Did Not Play,h2,NaN,CLE,NaN,NaN,Reserve
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,jacksda01,NaN,NaN,Did Not Play,h2,NaN,CLE,NaN,NaN,Reserve